body {
background-color: #504E52;
}

.topnav {
overflow: hidden;
}

.topnav a {
text-decoration: none;
font-weight: bold;
font-size: 18px;
color: white;
font-family: 'Open Sans Condensed', sans-serif;


}

.persef img {
float: right;
margin-top: 0;
width: 50%;
border-radius: 15%;
max-width: 474px;
}

nav ul{
padding: 0;
list-style: none;
}


.logo {
height: 140px;
width: 80px;
float: left;
}

nav li {
float: right;
margin-left: 40px;
padding-top: 25px;
padding-right: 45px;
}

.hero {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 24px;
    margin: 24px;

}

#name {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: white;
    size: 36px;
    padding: 0;
    margin: 0;
}

h3 {
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color: white;
    letter-spacing: .7px;
    flex-wrap: wrap;
    width: 40%;
    size: 18px;
    padding-top: 48px;
}

h2 {
    font-family: 'Open Sans Condensed', 'Open Sans', sans-serif;
    font-weight: bold;
    size: 36px;
    color: white;
    text-align: center;
}

.work {
    margin-top: 140px;
    padding: 24px;
}


h4 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    size: 24px;
    color: white;
    padding: 0;
    margin: 0;
}

.Pointer {
display: flex;
width: 100%;
flex-direction: column;
}

.Pointer, p {
padding: 0;
margin: 0;
}
